*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:digital-7;
    src: url(font-famiy/digital-7.zip);
}

.container{
    width: 85%;
    margin: 0 auto;
    height: 400px;
}
.col{
    width:40%;
    margin: 0 auto;
    border: 1px solid;
    height: 300px;
}
.row{
    width: 100%;
    display: flex;
}

 
 .col{
    background-color: #0a0300;
    padding: 40px;
    box-shadow: inset 0px 0px 50px black;
    border-radius: 20px;
 }
.colok1{
    width: 100%;
    display: flex;
    justify-content: space-around;

    padding: 10px;
    
   
}
.date-month-year span{
    border-radius: 5px;
    padding: 5px 10px 4px 24px;
    font-size: 30px;
    color: #EE2352;
    background-color: bisque;
    box-shadow: 0px 0px 64px;
}
h3{
    margin: 5px 0px;
    color: aliceblue;

}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colok2{
    width: 100%;
    height: 80px;
    padding: 30px 0px 20px 0px;

}
.colok2 p{
    color: aliceblue;
}
.colok2 span{
    font-size: 30px;
    font-family: digital-7;
    color: #EE2352;
    background-color: bisque;
    box-shadow: 0px 0px 64px;
}
.ampm-div{
    width: 45px;
    display: flex;
    flex-wrap: wrap;
    color: #f3edeb;

}
.ampm-div p{
    width: 18px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: aliceblue;

}
.colok3{
    padding: 10px 0px 0px 0px;
  
    padding: 10px;

}
.colok3 p{
    color: aliceblue;
}
.colok3 span{
    color: #EE2352;
    background-color: bisque;
    box-shadow: 0px 0px 64px;
}
.border-span{
   border-radius: 5px;
    padding: 5px 12px;
    font-family: digital-7;
   
}
.tem-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tem-div span{
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    font-family: digital-7;
    color: #EE2352;
    background-color: bisque;
    box-shadow: 0px 0px 64px;

    
}
.colok4{
    padding: 20px 0px 0px 0px ;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.colok4 p{
   width: 15px;
   height: 15px;
   border: 1px solid;
   border-radius: 50%;
   color: aliceblue;
  


}
h5{
    color: rgb(38, 139, 228);
    
}
#color{
    color: rgb(0, 6, 10);
     border: none;
     background-color: #f3edeb;
}